body{
    background-color: #0000FF;
}

.img_topo{
    width: 50%;
}

.img_corpo{
    width: 50%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
}

p{
    font-size: 1.5em;
    text-align: justify;
    text-indent: 35px;
}