html{
    scroll-behavior:smooth ;
}

.menu{
    background-color: black;
    padding: 2%;
}


.itens_menu{
    text-align: center;
}

a:link {
    text-decoration: none;
    color: violet;
    font-family: courier;
  }
  
  a:visited {
    text-decoration: none;
    color: violet
   
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

.logo{
    font-family: fantasy;
}

body{
    background-color:#1c1c1c ;
    font-family: HELVETICA;
    color: WHITE;
}

.img_topo{
    width: 100%;

}


.img_corpo{
    width: 50%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
    font-family: fantasy;
    
}

p{
    font-size: 1.5em;
    text-align: justify;
    text-indent: 35px;
    line-height: 1.5;
    font-family: monospace;
    text-align: left;
}


.parag_letras > p{
    font-size: 1em;
    text-align: center;
}

.botao{
    width: 130px;
    height: 50px;
    background-color: black;
    color: white;
    
}

.botao p{
    padding-top: 9px;
    padding-left: 6px;
    
}

footer{
    background-color: BLACK;
    padding-top: 2%;
    padding-bottom: 2%;
    color: violet;
    font-family: courier;
    text-align: center;
    
}

footer p{
    font-size: 1em;
    text-indent: 35px;
    text-align: center;
}

.centro{
    text-align: center;
}



.nota_sobre{
    color: whitesmoke;
    font-style: italic;
    font-size: 1em;
}

.eumesmo{
  width: 300px;
  float: right;
  margin-left: 20px;
}

.texto_sobre{
    float: left;
    padding-right: 50%;
    text-align: justify;
}






